.item {
  display: flex;
  align-items: center;

  margin: 0 auto 15px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e9eef3;
  box-shadow: 0px 0px 6px 5px rgb(75 49 192 / 50%);

}

.item:last-child {
  margin-bottom: 0;
}

.status_true {
  display: block;

  width: 15px;
  height: 15px;
  margin-right: 20px;

  border-radius: 50%;
  background-color: green;
}

.status_false {
  display: block;

  width: 15px;
  height: 15px;
  margin-right: 20px;

  border-radius: 50%;
  background-color: red;
}

.avatar {
  padding: 15px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name {
  width: 90px;
  font-size: 24px;
  font-weight: 500;
}
